<div class="view">
    <div class="container">
        <header>
            <h3>Todo List</h3>
        </header>
        <div class="row">
            <form data-ng-submit="insertTodo()" class="span6 todo-form">
                Add new task:
                <br />
                <input data-ng-model="newTodo.task" type="text" placeholder="New Task">
                <button id="submitTodo" class="btn btn-success" type="submit" data-ng-disabled="!newTodo.task">Add Todo</button>
            </form>
        </div>
        <br/>
        <div class="row">
            <div class="span12" data-ng-repeat="todo in todos | orderBy:['isCompleted', '-id']">
                <form data-ng-submit="showEditTodoForm(todo.id)" class="todo-edit-form" data-ng-hide="!todo.showEditForm">
                    <input data-ng-model="todo.task" type="text" placeholder="New Task">
                    <button id="submitTodo" class="btn btn-success" type="submit" data-ng-disabled="!todo.task">Save</button>
                </form>
                <div class="checkbox" data-ng-hide="todo.showEditForm">
                    <label class="checkbox-inline">
                        <input type="checkbox" data-ng-model="todo.isCompleted"> {{todo.task}}
                        <button class="close btn-padding" data-ng-click="deleteTodo(todo.id)"><span class="cross-icon">&times;</span></button>
                        <button class="btn btn-link" data-ng-click="showEditTodoForm(todo.id)">Edit</button>
                        
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>